<div *ngIf="isLoggedIn">
  <nav class="navbar navbar-fixed-top navbar-dark bg-inverse">
    <div class="container-navbar">
      <a class="navbar-brand">Blockchain reservations</a>
      <ul class="nav navbar-nav" routerLinkActive="active">
        <li class="nav-item"><a class="nav-link" routerLink="/user/all-reservations">Reservations</a></li>
      </ul>
      <ul class="nav navbar-nav" routerLinkActive="active" style="float: right; cursor: pointer;">
        <li class="nav-item"><a class="nav-link" (click)="logout()">Log out</a></li>
      </ul>
    </div>
  </nav>
</div>

<div *ngIf="!isLoggedIn">
  <nav class="navbar navbar-fixed-top navbar-dark bg-inverse">
    <div class="container-navbar">
      <a class="navbar-brand">Blockchain reservations</a>

    </div>
  </nav>
</div>

