<div class="container-fluid h-100">
  <div class="row h-100">
    <div class="col-md-4 col-sm-12">

    </div>
    <div class="col-md-4 col-sm-12">
      <div class="form-wrap" style="">
        <!--<h2>Login</h2>-->
        <!-- Right of the bat, we no longer declare a local variable but use the formGroup directive and set it the complexForm object we defined in the constructor. Throughout the form, we will reference the complexForm root object as can be seen in the submitForm function.-->
        <form [formGroup]="loginForm" (ngSubmit)="login( )" style="width:100%;padding: 24px;">
          <!--<div class="form-group" style="margin-bottom: 5rem;">-->
            <!--<img class="fluid-logo"-->
                 <!--alt="JuicEcommerce logo" src="assets/images/login_logo.png">-->
          <!--</div>-->

          <div class="form-group"
               [ngClass]="{'has-error':!loginForm.controls['email'].valid  && loginForm.controls['email'].touched}">
            <label>Email</label>
            <!-- Rather than set an ngModel, we use the formControl directive to sync our input to the complexForm object. Notice that we are also setting the attribute we wish the corresponding input to sync with. We no longer need the name attribute, but can optionally add it. -->
            <input class="form-control" type="text" placeholder="Email"
                   [(ngModel)]="model.email"
                   [formControl]="loginForm.controls['email']">
            <div
              *ngIf="loginForm.controls['email'].hasError('required') && loginForm.controls['email'].touched"
              class="alert alert-danger">You must include a email.
            </div>
          </div>
          <div class="form-group" [ngClass]="{'has-error':!loginForm.controls['password'].valid}">
            <label>Password</label>
            <input class="form-control" type="password"
                   [(ngModel)]="model.password"
                   placeholder="Password" [formControl]="loginForm.controls['password']">

            <div *ngIf="showError"
                 style="color:red;maring-top:5px;">Wrong credentials, please check and try again!</div>
          </div>
          <!--<div class="form-group">-->


          <!--</div>-->
          <div class="form-group">
            <button type="submit" class="btn btn-orange-orange"
                    [disabled]="!loginForm.valid">Login
            </button>
          </div>
          <br><br><br>
        </form>
      </div>
    </div>
  </div>
</div>

