
<div class="container-shadow">

<form [formGroup]="inquiryForm">
      <div class="form-group" [ngClass]="{'has-error':!inquiryForm.controls['startDate'].valid  && inquiryForm.controls['startDate'].touched}">
        <label>{{"select_startdate" | translate}}*:</label>
        <input class="form-control blue" style="float:none; width:30%;"  placeholder="{{'select_startdate' | translate}}" ngx-mydatepicker formControlName="startDate"
               [(ngModel)]="inquiry.startDate" [options]="myOptions" (dateChanged)="onDateChangedStart($event)" #dp="ngx-mydatepicker"/>
        <span class="input-group-btn">
            <button type="button" class="btn btn-default blue" (click)="dp.clearDate()">
                <i class="glyphicon glyphicon-remove"></i>
            </button>
            <button type="button" class="btn btn-default blue" (click)="dp.toggleCalendar()">
                <i class="glyphicon glyphicon-calendar"></i>
            </button>
        </span>
        <div *ngIf="inquiryForm.controls['startDate'].hasError('required') && inquiryForm.controls['startDate'].touched" class="alert alert-danger">{{"include_name" | translate}} </div>
      </div>
      <div class="form-group" [ngClass]="{'has-error':!inquiryForm.controls['endDate'].valid  && inquiryForm.controls['endDate'].touched}">
        <label>{{"select_enddate" | translate}}*:</label>
        <input class="form-control" style="float:none; width:30%;" placeholder="{{'select_enddate' | translate}}" (dateChanged)="onDateChangedEnd($event)" ngx-mydatepicker formControlName="endDate"
               [(ngModel)]="inquiry.endDate" [options]="myOptions" #dp2="ngx-mydatepicker"/>

        <span class="input-group-btn">
            <button type="button" class="btn btn-default blue" (click)="dp2.clearDate()">
                <i class="glyphicon glyphicon-remove"></i>
            </button>
            <button type="button" class="btn btn-default blue" (click)="dp2.toggleCalendar()">
                <i class="glyphicon glyphicon-calendar"></i>
            </button>
        </span>
        <div *ngIf="inquiryForm.controls['endDate'].hasError('required') && inquiryForm.controls['endDate'].touched" class="alert alert-danger">{{"include_name" | translate}} </div>
      </div>

  <div class="form-group" [ngClass]="{'has-error':!inquiryForm.controls['quantity'].valid  && inquiryForm.controls['quantity'].touched}">
    <label>{{"number_of_persons" | translate}}*:</label>
    <!-- Rather than set an ngModel, we use the formControl directive to sync our input to the complexForm object. Notice that we are also setting the attribute we wish the corresponding input to sync with. We no longer need the name attribute, but can optionally add it. -->
    <input class="form-control blue" type="text" style="width:30%;" placeholder="{{'quantity' | translate}}"
           [(ngModel)]="inquiry.quantity"
           formControlName="quantity">
    <div *ngIf="inquiryForm.controls['quantity'].hasError('required') && inquiryForm.controls['quantity'].touched" class="alert alert-danger">{{"include_name" | translate}} </div>
  </div>
<div *ngIf="requestButton">
  <button class="btn-default" (click)="personalDataForm()">{{'send_request' | translate}}</button>
</div>
  <div *ngIf="personalData">
        <div class="form-group" [ngClass]="{'has-error':!inquiryForm.controls['firstname'].valid  && inquiryForm.controls['firstname'].touched}">
          <label>{{"firstname" | translate}}*:</label>
          <!-- Rather than set an ngModel, we use the formControl directive to sync our input to the complexForm object. Notice that we are also setting the attribute we wish the corresponding input to sync with. We no longer need the name attribute, but can optionally add it. -->
          <input class="form-control" type="text" placeholder="{{'firstname' | translate}}"
                 [(ngModel)]="inquiry.firstname"
                 formControlName="firstname"
          style="width:30%;">
          <div *ngIf="inquiryForm.controls['firstname'].hasError('required') && inquiryForm.controls['firstname'].touched" class="alert alert-danger">{{"include_name" | translate}} </div>
        </div>
      <div class="col-6">
        <div class="form-group" [ngClass]="{'has-error':!inquiryForm.controls['lastname'].valid  && inquiryForm.controls['lastname'].touched}">
          <label>{{"lastname" | translate}}*:</label>
          <!-- Rather than set an ngModel, we use the formControl directive to sync our input to the complexForm object. Notice that we are also setting the attribute we wish the corresponding input to sync with. We no longer need the name attribute, but can optionally add it. -->
          <input class="form-control" type="text" placeholder="{{'lastname' | translate}}"
                 [(ngModel)]="inquiry.lastname"
                 formControlName="lastname"
                 style="width:30%;">
          <div *ngIf="inquiryForm.controls['lastname'].hasError('required') && inquiryForm.controls['lastname'].touched" class="alert alert-danger">{{"include_name" | translate}} </div>
        </div>
      </div>

    <div class="form-group" [ngClass]="{'has-error':!inquiryForm.controls['email'].valid  && inquiryForm.controls['email'].touched}">
      <label>{{"email" | translate}}*:</label>
      <!-- Rather than set an ngModel, we use the formControl directive to sync our input to the complexForm object. Notice that we are also setting the attribute we wish the corresponding input to sync with. We no longer need the name attribute, but can optionally add it. -->
      <input class="form-control" type="text" placeholder="{{'email' | translate}}"
             [(ngModel)]="inquiry.email"
             formControlName="email"
             style="width:30%;">
      <div *ngIf="inquiryForm.controls['email'].hasError('required') && inquiryForm.controls['email'].touched" class="alert alert-danger">{{"include_name" | translate}} </div>
    </div>

    <div class="form-group">
      <label>{{"password" | translate}}:</label>
      <!-- Rather than set an ngModel, we use the formControl directive to sync our input to the complexForm object. Notice that we are also setting the attribute we wish the corresponding input to sync with. We no longer need the name attribute, but can optionally add it. -->
      <input class="form-control" type="password" placeholder="{{'password' | translate}}"
             [(ngModel)]="inquiry.password"
             formControlName="password"
             style="width:30%;">
    </div>

    <button class="btn-default" (click)="create()">{{'send_request' | translate}}</button>
  </div>


</form>
</div>
