
  <div class="container-shadow">
  <!-- Right of the bat, we no longer declare a local variable but use the formGroup directive and set it the complexForm object we defined in the constructor. Throughout the form, we will reference the complexForm root object as can be seen in the submitForm function.-->
  <form [formGroup]="reservationForm"  (ngSubmit)="publish()">

    <div class="row">

    <div class="col-sm-6 col-md-6 col-lg-6">
    <div class="form-group" [ngClass]="{'has-error':!reservationForm.controls['title'].valid  && reservationForm.controls['title'].touched}">
      <label>{{'title' | translate}}*:</label>
      <input class="form-control" type="text" placeholder="{{'title' | translate}}"
             [(ngModel)]="reservation.title.de_DE"
             [formControl]="reservationForm.controls['title']">
      <div *ngIf="reservationForm.controls['title'].hasError('required') && reservationForm.controls['title'].touched" class="alert alert-danger">You must include a title.  </div>
    </div>
    </div>

    </div>
    <div class="row">

        <div class="col-sm-6 col-md-6 col-lg-6">
          <div class="form-group" [ngClass]="{'has-error':!reservationForm.controls['customName'].valid  && reservationForm.controls['customName'].touched}">
            <label>{{'asset_name' | translate}}:</label>

            <div class="input-group mb-3">
              <div class="input-group-prepend">
                <div class="input-group-text">{{node.name}}:{{ (node.prefix!="") ? node.prefix + ":" : "" }}</div>
              </div>
              <input class="form-control" type="text" placeholder="{{'asset_name' | translate}}"
                     [(ngModel)]="reservation.customName"
                     [formControl]="reservationForm.controls['customName']">
            </div>

            <div *ngIf="reservationForm.controls['customName'].hasError('required') && reservationForm.controls['customName'].touched" class="alert alert-danger">{{'enter_name' | translate}}</div>
            <div *ngIf="reservationForm.controls['customName'].hasError('pattern') && reservationForm.controls['customName'].touched" class="alert alert-danger">{{'invalid_asset_pattern' | translate}} (name1:name2:name3).</div>
          </div>
        </div>
    </div>

    <div class="row">


      <div class="col-sm-6 col-md-6 col-lg-6">
        <div class="form-group" [ngClass]="{'has-error':!reservationForm.controls['onDate'].valid  && reservationForm.controls['onDate'].touched}">
          <label>{{"select_startdate" | translate}}*:</label>
          <input class="form-control blue" style="float:none; width:30%;"  placeholder="{{'select_startdate' | translate}}" ngx-mydatepicker formControlName="onDate"
                 [(ngModel)]="inquiry.inquires.startDate"  #dp="ngx-mydatepicker"/>
          <span class="input-group-btn">
            <button type="button" class="btn btn-default blue" (click)="dp.clearDate()">
                <i class="glyphicon glyphicon-remove"></i>
            </button>
            <button type="button" class="btn btn-default blue" (click)="dp.toggleCalendar()">
                <i class="glyphicon glyphicon-calendar"></i>
            </button>
        </span>
          <div *ngIf="reservationForm.controls['onDate'].hasError('required') && reservationForm.controls['onDate'].touched" class="alert alert-danger">{{"include_name" | translate}} </div>
        </div>
      </div>

      <div class="col-sm-6 col-md-6 col-lg-6">
        <div class="form-group" [ngClass]="{'has-error':!reservationForm.controls['endDate'].valid  && reservationForm.controls['endDate'].touched}">
          <label>{{"select_enddate" | translate}}*:</label>
          <input class="form-control blue" style="float:none; width:30%;"  placeholder="{{'select_enddate' | translate}}" ngx-mydatepicker formControlName="endDate"
                 [(ngModel)]="inquiry.inquires.endDate" [options]="myOptions" #dp2="ngx-mydatepicker"/>
          <span class="input-group-btn">
            <button type="button" class="btn btn-default blue" (click)="dp2.clearDate()">
                <i class="glyphicon glyphicon-remove"></i>
            </button>
            <button type="button" class="btn btn-default blue" (click)="dp2.toggleCalendar()">
                <i class="glyphicon glyphicon-calendar"></i>
            </button>
        </span>
          <div *ngIf="reservationForm.controls['endDate'].hasError('required') && reservationForm.controls['endDate'].touched" class="alert alert-danger">{{"include_name" | translate}} </div>
        </div>
      </div>

    </div>


    <br/>
    <div class="form-group">
      <button type="submit"
              class="btn btn-orange-orange float-right"
              style="margin-bottom: 1vh;">{{'issue' | translate}}</button>
    </div>

    <br/>


  </form>
</div>


