<div class="container-shadow">
  <div>
    <ngx-datatable
      class="bootstrap fullscreen"
      [rows]="rows"
      [columns]="columns"
      [columnMode]="'force'"
      [selectionType]="'single'"
      (select)='onSelect($event)'>

      <ngx-datatable-column name="{{ 'id' | translate}}" [width]="250">
        <ng-template ngx-datatable-cell-template let-row="row">
          {{row._id}}
        </ng-template>
      </ngx-datatable-column>

      <ngx-datatable-column *ngFor="let column of columns" [name]="column.name" prop={{column.prop}}  >
        <ng-template let-value="value" ngx-datatable-cell-template>
          <span>{{value}}</span>

        </ng-template>
      </ngx-datatable-column>

      <ngx-datatable-column name="{{'confirmed' | translate}}" [flexGrow]="1" [minWidth]="250">
        <ng-template  ngx-datatable-cell-template let-row="row">
          <button *ngIf="row.reservation_id" class="btn btn-icon" name=""
                  (click)="onSelect(row);$event.stopPropagation();">
            <i class="fa fa-check"></i>
          </button>
        </ng-template>
      </ngx-datatable-column>
    </ngx-datatable>
  </div>
</div>
