
<div class="container-shadow">
  <!-- Right of the bat, we no longer declare a local variable but use the formGroup directive and set it the complexForm object we defined in the constructor. Throughout the form, we will reference the complexForm root object as can be seen in the submitForm function.-->
  <form>

    <div class="row">

      <div class="col-sm-6 col-md-6 col-lg-6">
        <div class="form-group">
          <label>{{'reservation_title' | translate}}*:</label>
          <input  class="form-control" type="text" placeholder="{{'title' | translate}}"
                 [(ngModel)]="reservation.title.de_DE" [ngModelOptions]="{standalone: true}" disabled />
        </div>
      </div>

    </div>
    <div class="row">

      <div class="col-sm-6 col-md-6 col-lg-6">
        <div class="form-group">
          <label>{{'reservation_name' | translate}}:</label>
            <input class="form-control" type="text"
                   [(ngModel)]="reservation.name" [ngModelOptions]="{standalone: true}" disabled  />
          </div>
      </div>
    </div>

    <div class="row">


      <div class="col-sm-6 col-md-6 col-lg-6">
        <div class="form-group">
          <label>{{"startdate" | translate}}:</label>
          <input class="form-control blue" style="float:none; width:30%;"  placeholder="{{'select_startdate' | translate}}" ngx-mydatepicker
                 [(ngModel)]="reservation.onDate"  #dp="ngx-mydatepicker" [ngModelOptions]="{standalone: true}" />
        </div>
      </div>

      <div class="col-sm-6 col-md-6 col-lg-6">
        <div class="form-group">
          <label>{{"enddate" | translate}}:</label>
          <input class="form-control blue" style="float:none; width:30%;"  placeholder="{{'select_enddate' | translate}}" ngx-mydatepicker
                 [(ngModel)]="reservation.onDate" #dp2="ngx-mydatepicker" [ngModelOptions]="{standalone: true}" />
        </div>
      </div>

    </div>

  </form>
</div>


