/* You can add global styles to this file, and also import other style files */
.main{
  margin-top: 5vh;
  margin-left: 2vh;
  margin-right: 2vh;
}
.blue{
  color:#023568 !important;
  border-color: #87bcf2;
}
.form-control{
  border: 1px groove #87bcf2 !important;
}

.container-big{
  margin: 1vh;
  padding: 0.5vh;
  height: 90vh;
}
.container-shadow{
  margin: 1vh;
  padding: 2vh;
  height: auto;
  background-color: #ffffff;
  box-shadow: 0px 1px 11px #4796e5;
}
.container-navbar{
  margin: 1vh;
  padding: 0.5vh;
  height: auto;
  font-size: 2vh;
}
.navbar-brand{
  font-size: 3vh;
}
